

body {
  font-family: serif;
  background-color: #abcdef;
}
#registration {
  width: 270px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.visitor-registration {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
  position: relative;
}

.mainButton{
  color: black;
  width: 150px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  position: relative;
  left: 25%;
}


/* TODO decorate input-date, input-time, select
improve margins organization*/

/* Headings */
h1 {
  color: #003870;
  font-size: 200%;
  margin: 5px 20px;
  text-align: center;
}

h2 {
  color: #012345;
  font-size: 150%;
  margin: 5px 20px;
}

h3 {
  color: #012345;
  font-size: 125%;
  margin: 5px 20px;
}

/* Paragraphs & lists */
p {
  padding: 2px;
  margin: 10px 10px;
}

ul {
  list-style-type: square;
}

li {
  margin-bottom: 5px;
}

/* Top navigation & impressum footer */
.topnav {
  overflow: hidden;
  background-color: #222244;
}

.topnav a {
  float: left;
  color: #ddddff;
  text-align: center;
  text-decoration: none;
  padding: 15px 25px;
}

.topnav a:hover {
  background-color: #333366;
  color: #eeeeff;
  text-decoration: underline;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #90a0c0;
  font-size: 75%;
  padding: 4px;
}

