{% extends 'base.html' %}

{% block content %}

    <form id = "registration" action="{{ url_for('agent_search_hospitals')}}" method="post">
        <h2>Search Hospitals</h2>
        <p>Search bar is flexible, it covers all fields</p>
        <input type="text" class="visitor-registration" placeholder="Search" name="entry" value="{{request.form.entry}}" required> <br>
        <input class="mainButton" type="submit" value="SUBMIT"><br>
    </form>
    <table> 
        <thead> 
        <tr> 
            <th>hospital_id</th> 
            <th>username</th>
        </tr> 
        </thead> 
        <tbody> 
            {% for row in data %}  
                <tr> 
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                </tr> 
            {% endfor %} 
        </tbody> 
    </table>

{% endblock %}