{% extends 'base.html' %}

{% block content %}


<h3>Citizen ID: {{visitor_info[0]}}</h3>
<h3>Full Name: {{visitor_info[1]}}</h3>
<h3>Address: {{visitor_info[2]}}</h3>
<h3>Email: {{visitor_info[3]}}</h3>
<h3>Phone Number: {{visitor_info[4]}}</h3>
<h3>Device ID: {{visitor_info[5]}}</h3>
<h3>Infected: {{visitor_info[6]}}</h3>

<h1>Places Visited:</h3>
<table> 
    <tr> 
        <th>Place ID</th> 
        <th>Place Name</th>
        <th>Entry Timestamp</th> 
        <th>Exit Timestamp</th>
        <th>Address</th>
        <th>Email</th>
        <th>Phone Number</th>
    </tr> 
   
        {% for row in places_visited%}  
            <tr> 
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
                <td>{{row[6]}}</td>
            </tr> 
        {% endfor %} 
</table>
</div>


{% endblock %}