<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="topnav">
      <a href="{{ url_for('landing') }}"> Corona Archive </a>
      <a href="{{ url_for('impressum') }}"> About </a>
      <a href="{{ url_for('agent_tools') }}"> Agent tools </a>
    </div>
    <br>
    <div class="content">
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
