<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="topnav">
      <a href="{{ url_for('visitorRegister') }}"> Visitor Registration </a>
      <a href="{{ url_for('placeRegister') }}"> Place Registration </a>
      <a href="{{ url_for('agentSignin') }}"> Agent Signin </a>
      <a href="{{ url_for('hospitalSignin') }}"> Hospital Signin </a>
      <a href="{{ url_for('impressum') }}"> Impressum </a>
    </div>
    <br>
    <div>
      {% block content %} {% endblock %}
    </div>

  </body>
</html>
