{% extends 'base.html' %} {% block content %}

<form id="registration" action="{{ url_for('search_visitors')}}" method="post">
  <h2>Search visitors</h2>
  <p>Search bar is flexible, it covers all fields</p>
  <p>To see all entries, leave the search bar empty and click on submit</p>
  <input
    type="text"
    class="visitor-registration"
    placeholder="Search"
    name="entry"
    value="{{request.form.entry}}"
  />
  <br />
  <input class="mainButton" type="submit" value="SUBMIT" /><br />
</form>
<table>
  <tr>
    <th>Citizen ID</th>
    <th>Full Name</th>
    <th>Address</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Device ID</th>
    <th>Infected</th>
  </tr>

  {% for row in data %}
  <tr>
    <td>{{row[0]}}</td>
    <td>{{row[1]}}</td>
    <td>{{row[2]}}</td>
    <td>{{row[3]}}</td>
    <td>{{row[4]}}</td>
    <td>{{row[5]}}</td>
    <td>{{row[6]}}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
